.row
  .span6
    = simple_form_for [@band, @setlist] do |f|
      .clearfix
        .name-input= f.input :name, :required => false
        .date-input= f.input :date, :as => :date_picker
      .clearfix
        = f.label 'Songs'
        .input
          .song-list#selected-songs
            %ul.movable.connected#selected-songs-list
              %li.setlist_item.empty.no-sort Drag songs here.
              = render @setlist.items
            .count NN songs
      .form-actions
        = f.button :submit
  .span6
    .song-list#available-songs
      .help-block Drag songs or click +
      %ul.movable#breaks
        = render SetlistItem.break
      %ul.movable.connected#available-songs-list
        %li.setlist_item.empty.no-sort No more songs to play!
        = render @setlist.available_items
      .count NN songs
    