.row#setlist
  .span6
    = simple_form_for [@band, @setlist], :html => {:class => 'form-stacked'} do |f|
      .inputs
        = f.input :name
        .clearfix
          = f.label 'Songs'
          .input
            .song-list#selected-songs
              %ul.connected#selected-songs-list
                %li.setlist_item.empty.no-sort No songs in setlist.
                = render @setlist.items
      .actions
        = f.button :submit
  .span6
    .song-list#available-songs
      %p.help-block Drag songs to left or click + to add to setlist.
      %ul#breaks
        = render SetlistItem.break
      %ul.connected#available-songs-list
        %li.setlist_item.empty.no-sort No more songs to play!
        = render @setlist.available_items
  .span4
    &nbsp;
    



