.row
  .span8
    = simple_form_for [@band, @setlist] do |f|
      .inputs
        = f.input :name
        .clearfix
          = f.label 'Songs'
          .input
            .draggable-container
              %ol.draggable.sortable#selected-songs
                %li.empty Drag songs from right
                = render :partial => 'song', :collection => @setlist.songs
            
      .actions
        = f.button :submit
  .span8
    .draggable-container#available-songs-container
      %ul.draggable.sortable#available-songs
        %li.empty No more songs
        = render(:partial => 'song', :collection => @setlist.available_songs)
    



