%p#notice= notice

%h1 Setlist #{@setlist.name}

- if @setlist.show
  #{show.name} (#{show.date})

%ol#songs.sortable{'data-setlist_id' => @setlist.id}
  - for song in @setlist.songs
    %li[song]
      = image_tag 'drag-handle.gif'
      %span= song.name

= link_to 'Edit', edit_resource_path
|
= link_to 'Back', collection_path
