- title setlist_display_name(@setlist), "#{@setlist.songs.size} songs"

- content_for :sidebar do
  %ul
    - if @edit
      %li= link_to 'Done reordering', resource_path, :class => 'primary large btn'
    - else
      %li= link_to 'Edit setlist', edit_resource_path
      %li= link_to 'Print setlist', '#', :class => 'print'
      %li= link_to 'Email setlist', email_resource_path
      %br
      %li= link_to 'Reorder songs', resource_path(:edit => true)

- if @edit && @setlist.items.size > 1
  %p.help-block Drag songs to reorder
.song-list#setlist-items
  - if @edit
    %ul.movable.sortable{'data-sort_url' => sort_resource_path}= render @setlist.items
  - else
    %ul= render @setlist.items




