%p#notice= notice

%h1 Setlist #{@setlist.name}

- if @setlist.show
  #{show.name} (#{show.date})

%ol
  - for song in @setlist.songs
    %li= song.name

= link_to 'Edit', edit_resource_path
|
= link_to 'Back', collection_path
