- title @setlist.name

- if @setlist.show
  #{show.name} (#{show.date})

%p.help-block Drag songs to reorder
.song-list#setlist-items
  %ul.sortable{'data-sort_url' => sort_resource_path}
    = render @setlist.items

  .links= link_to 'Edit Setlist', edit_resource_path
  .count #{@setlist.songs.size} songs
