= semantic_form_for @setlist_song do |f|
  -if @setlist_song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setlist_song.errors.count, "error")} prohibited this setlist_song from being saved:"
      %ul
        - @setlist_song.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs
  = f.buttons
