%h1 Listing setlist_songs

%table
  %tr
    %th Setlist
    %th Song
    %th Position
    %th
    %th
    %th

  - @setlist_songs.each do |setlist_song|
    %tr
      %td= setlist_song.setlist.name
      %td= setlist_song.song.name
      %td= setlist_song.position
      %td= link_to 'Show', setlist_song
      %td= link_to 'Edit', edit_setlist_song_path(setlist_song)
      %td= link_to 'Destroy', setlist_song, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Setlist song', new_setlist_song_path
