- title 'Songs', "#{@songs.size} songs"

- content_for :sidebar do
  - if @edit
    =link_to 'Done editing', collection_path, :class => 'btn btn-primary'
  - else
    %ul.nav.nav-list
      %li= link_to 'Add song', new_resource_path
      %li= link_to 'Edit songs', collection_path(:edit => true)
- if @edit && @songs.size > 1
  %p.help-block Drag songs to reorder
.song-list
  - if @edit
    %ul.movable.sortable{'data-sort_url' => sort_resources_path}= render @songs
  - else
    %ul= render @songs
