%h1 Bands

%table
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @bands.each do |band|
      - next if band.admin?
      %tr
        %td= link_to band.name, edit_band_path(band)
        %td= link_to 'Songs', band_songs_path(band)
        %td= link_to 'Setlists', band_setlists_path(band) 
        %td= link_to 'Shows', band_shows_path(band) 
        %td= link_to 'Delete', band, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Band', new_band_path
