.page-header
  %h1 Shows

%table
  - @shows.each do |show|
    %tr
      %td= show.date
      %td= link_to show.name, resource_path(show)
      %td= link_to 'edit', edit_resource_path(show)
      %td= link_to 'delete', resource_path(show), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Show', new_resource_path
