%h1 Shows

%table
  %tr
    %th 
    %th
    %th
    %th

  - @shows.each do |show|
    %tr
      %td= show.date
      %td= link_to show.name, resource_path(show)
      %td= link_to 'Edit', edit_resource_path(show)
      %td= link_to 'Destroy', resource_path(show), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Show', new_resource_path
