<!DOCTYPE html>
<html>
<head>
  <title>Bandaliscious</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "/stylesheets/ui-lightness/jquery-ui.css" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/top_bar" %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
