!!! 5
%html
  %head
    = favicon_link_tag '/assets/logo-fav.png', :type => 'image/png'
    %title Bandalicious - #{current_band ? current_band.name + ' -' : ''} #{yield(:title)}
    
    = stylesheet_link_tag "site", :media => "all"
    = stylesheet_link_tag "print", :media => "print"

    = javascript_include_tag "application"
    
    = csrf_meta_tags
  %body
    = render "layouts/top_bar"
    .container
      = render 'layouts/notice'
      = render 'layouts/tabs'

      .container-inner{:class => controller_name}
        .page-header
          %h1= yield :title
          .stats= yield :stats
        - unless yield(:sidebar).blank?
          .sidebar
            .well
              = yield :sidebar
        .content= yield
    = render 'layouts/footer'