!!! 5
%html
  %head
    = favicon_link_tag '/assets/logo-fav.png', :type => 'image/png'
    %title Bandalicious
    = stylesheet_link_tag "bootstrap", "home"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/notice'
      = yield
      = render 'layouts/footer'