!!! 5
%html
  %head
    %title Bandaliscious
    = stylesheet_link_tag "home", "bootstrap"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/notice'
      = yield
      = render 'layouts/footer'