- title 'Band Member'
- content_for :sidebar do
  %ul
    %li= link_to 'Edit band member', edit_resource_path(@member)
    %li= link_to 'Delete band member', resource_path(@member), :confirm => 'Are you sure?', :method => :delete

%p
  %b Name:
  = @member.name
%p
  %b Email:
  = @member.email
%p
  %b Cell phone:
  = @member.cell_phone
%p
  %b Home phone:
  = @member.home_phone
%p
  %b Work phone:
  = @member.work_phone
%p
  %b Instrument:
  = @member.instrument
